# ========================
# FRONTEND
# ========================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.log

# ========================
# BACKEND (Spring Boot)
# ========================
backend/target/
backend/.env
backend/*.log
/node_modules
# Ignore ZIP files
*.zip
/dist
dist
# Ignore SQL (optional if not needed)
*.sql

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
/node_modules
/dist
dist.zip